@page
@model Vicol_Lorena_Proiect.Pages.Echipe.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Echipa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Echipa.EchipaNume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Echipa.EchipaNume)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Echipa?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
