@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main"  style="margin-left:40px;margin-right:40px">

    <!--Acasa-->
    <div class="container" style="margin-top:80px">
        <div class="panel card" style="width:100%">
            <center>
                <img src="~/imagini/cos-paine.png" width=70px title="Cos cu paine" alt="Cos cu paine">
                <h1 class="jumbo"><b>BRUTARIA</b></h1>
                <h4>Despre noi</h4>
                <p>Brutaria a luat nastere ca urmare a dorintei de a readuce in viata romanilor o parte din traditia noastra. </p>
                <p>Din dorinta de a readuce gustul painii traditionale, din dorinta de a oferi o paine adevarata, o paine simpla si sanatoasa, fara amelioratori chimici. </p>
                <br />
                <p>Efectuam la comanda orice cerinta pentru produse de brutarie, patiserie si cofetarie.</p>
                <br />
                <h2> GAMA DE PRODUSE</h2>
                <img src="~/imagini/brutarie.png" width=70px title="Brutarie Artizanala - Traditionala" alt="Brutarie Artizanala - Traditionala">
                    <h4>Brutarie Artizanala - Traditionala</h4>
                    <p>Brutaria ofera o gama larga de produse de panificatie dupa retete stravechi de paine.</p>
                <img src="~/imagini/patiserie.png" width=70px title="Patiserie Artizanala - Traditionala" alt="Patiserie Artizanala - Traditionala">
                    <h4>Patiserie Artizanala - Traditionala</h4>
                    <p>Cozonaci de casa, fursecuri si multe alte bunatati proaspete din gama produselor de patiserie.</p>
                <img src="~/imagini/cofetarie.png" width=70px title="Cofetarie" alt="Cofetarie">
                    <h4>Cofetarie</h4>
                    <p>Cofetarii nostri va asteapta cu o gama larga de produse delicioase de cofetarie.</p>
                    <br />
                    <hr />
            </center>
            <h5>PROGRAM:</h5>
                <ul>
                    <li>Luni-Vineri: 8:00 - 20:00</li>
                    <li>Sambata: 8:00 - 16:00</li>
                    <li>Duminica: Inchis</li>
                </ul>
            <h5>CONTACT:</h5>
            <ul>
                <li>Tel: 0700098900</li>
                <li>Str Fabricii nr 55</li>
                <li>Cluj-Napoca</li>
            </ul>
        </div>
    </div>
